@import './base/settings';
@import './base/base';

//Variables
$color-primary: #7433F1;
$color-secondary: #F3ECFE;
$color-white: #FFFFFF;
$color-black: #000000;

$border-radius: .5rem;
$padding-content: 5rem;

//Elements
a {
  color: $color-primary;
  text-decoration: underline;
}

table {
  width: 100%;
}

thead {
}

th {
  padding: 0 0 2.5rem 0;
  text-align: left;
}

tr {

}

td {

}

input {
  border-radius: $border-radius;
  border: 1px solid $color-black;
  padding: 1rem 2rem;
  width: 100%;
}

button {
  padding: 1.5rem 5rem;
  font-weight: bold;
  background-color: $color-primary;
  color: $color-white;
  border: 0;
  border-radius: $border-radius;

  input + & {
    margin-left: 1.5rem;
  }
}


//To move to components
.header {
  background-color: $color-primary;
  color: $color-white;
  padding: 0 2rem;
  text-align: center;
}

.header__title {
  margin: 0;
  padding: $padding-content 0;
}

.main-content {
  display: flex;
  height: 100%;
}

.search-container {
  padding: $padding-content;
  width: 50%;
}

.favorites-panel {
  background-color: $color-secondary;
  padding: $padding-content;
  width: 50%;
}

.search-form {
  display: flex;
  margin-bottom: 5rem;
}