$color-primary: #7433F1;
$color-primary__light: #8f5bf3;
$color-secondary: #F3ECFE;
$color-white: #FFFFFF;
$color-black: #000000;
$color-disabled: #CCCCCC;

$border-radius: .5rem;
$padding-content: 5rem;

$transition: .25s ease-in;

$size-s: 1.2rem;
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;

$bp-mobile: 45rem;

$color-white: #fff;
$color-black: #000;